@model IEnumerable<Metrics.DotNet.Samples.Contracts.Book>

@{
    ViewBag.Title = "Books";
}

<h2>Books</h2>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Price</th>
        <th>CountOfPages</th>
        <th>Language</th>
        <th>AuthorFirstName</th>
        <th>AuthorLastName</th>
        <th>AuthorEmail</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountOfPages)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Language)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorEmail)
            </td>
        </tr>
    }

</table>